.main_container {
    max-width: 2500px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn-create-recipe {
    background-color: #a3cca3; /* Светло-зеленый цвет */
    border-color: #a3cca3;
    color: white;
}

.btn-create-recipe:hover {
    background-color: #8fb08f; /* Более темный оттенок зеленого */
    border-color: #8fb08f;
}

.form-control {
    background-color: #fff; /* Белый фон для поля ввода */
    border-color: #ccc; /* Светло-серый цвет границы */
}

.form-control:focus {
    background-color: #fff;
    border-color: #fcdec6; /* Цвет границы при фокусе */
    box-shadow: 0 0 5px rgb(161, 133, 98); /* Тень при фокусе */
}
