.container {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
}

.recipe-list button {
    background-color: #f1dacd;
    font-weight: 600;
    color: #a18562;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.recipe-list button:hover {
    background-color: #a18562;
    color:#f1dacd;
}

.minus-icon {
    margin-left: 5px;
}

.shopping-list {
    list-style-type: none;
    padding: 0;
}

.shopping-list li {
    margin-bottom: 10px;
}
/* Стили для списка продуктов для покупки */
.shopping-list {
    list-style: none;
    padding: 0;
}

/* Стили для сообщения об отсутствии продуктов */
.empty-message {
    font-style: italic;
    color: #777;
}

/* Стили для элемента списка продуктов */
.shopping-list-item {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Стили для названия продукта */
.item-name {
    font-weight: bold;
    margin-right: 5px;
}

/* Стили для количества продукта */
.item-quantity {
    margin-right: 5px;
}

/* Стили для единицы измерения продукта */
.item-unit {
    font-style: italic;
}
