.form-signin {
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    background-color: #f5f5dc; /* светлый бежевый фон */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-header {
    color: #6b4f4f; /* темный пастельный цвет для заголовка */
}

.register-input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-clip: padding-box;
}

.register-input:focus {
    border-color: #c9a87c;
    box-shadow: 0 0 5px rgba(201, 168, 124, 0.5);
    outline: none;
}

.register-button {
    background-color: #deb887;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 0;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #c9a87c;
}

.error {
    color: red !important;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.login-link {
    margin-top: 1rem;
    color: #6b4f4f; /* цвет текста */
}

.login-link a {
    color: #deb887;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
